.link {
  cursor: pointer;
}

.link_inner{
    display: flex;
    align-items: Center;
    justify-content: center;
    gap: 8px;
    font-size: 1rem;
    letter-spacing: .5px;
    color: var(--softTextColor);  
}
.link_button{
    font-size: .8rem;
    letter-spacing: 1px;
    color: var(--bg);  
    background-color: var(--textColor);
    padding: 8px 16px;
    border-radius: 6px;
    transition: all 0.2s ease-out;
}

.link_button:hover {
  transform: scale(1.1);
}

.link_button:active {
  transform: scale(0.9);
} 

.burger {
  width: 20px;
  height: 16px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--textColor);
}

.responsiveMenu{
  position: absolute;
  top: 90px;
  left: 0;
  background-color: var(--bg);
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  z-index: 999;
  background-color: var(--bgLite);
}

.burger_link{
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: var(--textColor);
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 1024px) {

  .link_icon{
    display: none;
  }
  

}
@media screen and (max-width: 768px) {
  .burger {
    display: flex;
    margin-left: 20px;
  }
  .link_inner{
    display: none;
  }
  .link_icon{
    display: none;
  }
  

}
@media screen and (max-width: 500px) {
  .burger {
    display: flex;
    margin-left: 10px;
    
  }
  .link_rev{
    display: none;
  }
  .link_icon{
    display: none;
  }

  .responsiveMenu{
    gap: 40px;
    font-size: 1.7rem;
    letter-spacing: 1px;
  }

}
