.container {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.imageContainer {
  flex: 3;
  height: 250px;
  position: relative;
}

.image {
  object-fit: cover;
}

.textContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.date {
  color: gray;
}

/* .category {
  color: crimson;
  font-weight: 500;
  text-transform: uppercase;
} */

.category {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  color: var(--bg);
  text-transform: uppercase;
  width: max-content;
}

.category.travel {
  background-color: #ff7857;
}

.fitness {
  background-color: #ffb14f;
}

.food {
  background-color: #7fb881;
}

.fashion {
  background-color: #ff7887;
}

.tech {
  background-color: #775aec;
}

.sports {
  background-color: #789cff;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  color: var(--softTextColor);
}

.link {
  border-bottom: 1px solid var(--softTextColor);
  width: max-content;
  padding: 2px 0px;
}
.link:hover {
  border-bottom: none;
}

@media screen and (max-width: 1280px) {
  .imageContainer {
    display: none;
  }
}
