@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');
/* font-family: 'Abel', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
html{
  scroll-behavior: smooth;
}
body {
  
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: #0f172a;
  --bgLite: #071a3e;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

.light {
  --bg: white;
  --bgLite: rgb(233, 233, 233);
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  min-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.ql-container {
  font-size: 1.4rem !important;
  height:91% !important;
  border: none !important;
}

.ql-toolbar.ql-snow {
  background-color: white !important;
  border-radius:.8rem .8rem 0 0 !important;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1) !important;
  border: none !important;
  border-bottom: 1px solid black !important;
}

.quill>.ql-container>.ql-editor.ql-blank::before {
  color: #b3b3b1;

}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 90%;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 90%;
  }
  :root{
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  :root{
    font-size: 16px;
  }
  .wrapper {
    max-width: 90%;
  }
}

@media screen and (max-width: 640px) {
  :root{
    font-size: 14px;
  }
  .wrapper {
    width: 90%;
  }
  .ql-container {
    font-size: 1.2rem !important;
  }
}

