.container {
  margin-top: 30px;
}

.title {
  font-size: 2.7rem;
  font-weight: 300;
  color: rgb(126, 126, 31);
}

.post {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.imgContainer {
  flex: 2;
  height: 300px;
  position: relative;
}

.image {
  object-fit: cover;
}

.textContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postTitle {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .5px;
  /* font-weight: 500; */
}

.postDesc {
  font-size: 1rem;
  font-weight: 300;
  color: var(--softTextColor);
}

.button {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  width: max-content;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 72px;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 64px;
  }

  .imgContainer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }
}
