.container{
  padding-top: 80px;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.select{
  padding: 10px 20px;
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #80cc7e;
  width: 180px;
  border-radius: 8px;
}


.select option{
  background-color: #80cc7e;
  font-size: 1.3rem;
  padding: 50px 20px;
  text-transform: uppercase;
}

.editor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* height: 500px; */
  /* overflow-y: scroll; */
  position: relative;
}

.editor .upload{
  width: max-content;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.editor .quill{
  min-height: 50px;
  border: 1px solid var(--softTextColor);
  border-radius: 1.2rem;
  outline: var(--softBg);
  background-color: transparent;
  color: var(--textColor);
  background-color: var(--softBg);
}

.button{
  width: 100%;
  padding: 20px 30px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 20px;
}


.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 50px;
}

.input{
  margin: 40px 0;
  padding: 20px 50px;
  font-size: 1.5rem;
  border: 1px solid var(--textColor);
  border-radius: 1.2rem;
  outline: var(--softBg);
  background-color: transparent;
  color: var(--textColor);
  background-color: var(--softBg);
}

.input::placeholder{
  color: #b3b3b1;
}

.textArea {
  width: 100%;
}

.publish{
  position: absolute;
  top:30px;
  right: 0px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 20px;
}