.container {
  padding-top: 80px;
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.select {
  padding: 10px 20px;
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #80cc7e;
  width: 180px;
  border-radius: 8px;
}


.select option {
  background-color: #80cc7e;
  font-size: 1.3rem;
  padding: 50px 20px;
  text-transform: uppercase;
}

.editor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.editor .upload {
  width: max-content;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.editor .quill {
  min-height: 50px;
  border-radius: 1rem;
  outline: var(--softBg);
  color: var(--textColor);
  background-color: var(--softBg);
  position: relative;
  border: 1px solid var(--bg);
  
}


.button {
  width: 100%;
  padding: 20px 30px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  letter-spacing: .5px;
  /* text-transform: uppercase; */
  border-radius: 20px;
}

.button label {
  display: flex;
  align-items: center;
  font-size: 1rem;
}


.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 50px;
}

.input {
  margin: 40px 0;
  padding: 20px 30px;
  font-size: 1.3rem;
  border: 1px solid var(--textColor);
  border-radius: 1rem;
  outline: var(--softBg);
  background-color: transparent;
  color: var(--textColor);
  background-color: var(--softBg);
}

.input::placeholder {
  color: #b3b3b1;
}

.textArea {
  width: 100%;
  
  border-radius: 1rem;
}

.publish {
  position: absolute;
  top: 30px;
  right: 0px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 20px;
}

/* image upload progress bar  */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
}

/* Spinner animation */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top: 4px solid #ffffff; /* White color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Rotate animation */
  
}

/* Rotate animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Progress percentage text */
.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: var(--textColor); /* Text color */
  font-weight: bold;
}
