.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--bg);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  
}
.container {
  
  display: flex;
  align-items: center;
  height: 85px;
  width: 85%;
  margin: 0 auto;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.7rem;
  filter: drop-shadow(1px 2px 5px rgba(23, 102, 109, 0.3));
}

.logo_img {
  width: 32px;
  height: 32px;
  margin-right: 4px;
}


.logo_item{
  display: flex;
}

.links {
  display: flex;
  align-items: Center;
  justify-content: flex-end;
  gap: 20px;
  flex: 1;
  font-size: 1.2rem;
  letter-spacing: .5px;
  color: var(--softTextColor);
}
.link {
  display: flex;
  align-items: Center;
  justify-content: center;
  gap: 8px;
  font-size: .9rem;
  letter-spacing: .5px;
  color: var(--softTextColor);
}
@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
  .logo {
    font-size: 1.7rem;
  }
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
  .link {
    padding-left: 10px;
    gap: 2px;
    font-size: .9rem;
    letter-spacing: 0px;
  }
  .links {
    gap: 2px;
    flex: 1;
    font-size: .8rem;
    letter-spacing: 0px;
    color: var(--softTextColor);
  }
  .link_icon{
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.4rem;
  }
  .link {
    display: none;
  }
  .link_icon{
    display: none;
  }
  .logo_img {
    width: 1.4rem;
    height: 1.5rem;
  }
  
}
@media screen and (max-width: 540px) {

  .logo {
    font-size: 1rem;
    margin: auto 8px;
  }
  .logo_img {
    width: 1.4rem;
    height: 1.1rem;
  }
  .links{
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
}
