.container {
  width: 60px;
  height: 30px;
  margin-left: 30px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.ball{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
}