.title{
    background-color: rgba(234, 97, 47, 0.616);
    color: white;
    padding: 8px 12px;
    font-size: 2rem;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    text-transform: capitalize;
  }
  .container{
    margin-top: 80px;
    padding-top: 50px;

  }
  
  .content{
    
    display: flex;
    gap: 50px;
  }
  
  